<!--<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tripe doble b</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/inventario">Inventario</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">
  <a class="navbar-brand" href="#">Farmacia Dr. Sus</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <li class = "nav-item"><a class="nav-link" href="/" id="button">Home</a></li>
        <li class = "nav-item"><a class="nav-link" href="/inventario" id="nav">Inventario</a></li>
        <li class = "nav-item"><a class="nav-link" href="/preInscription" id="button">Prescripciónes</a></li>    
        <li class = "nav-item"><a class="nav-link" href="/informeStock" id="button">Informe de Stock</a></li>
        <li class = "nav-item"><a class="nav-link" href="/medicamentosCaducados" id="button">Medicamentos Caducados</a></li>
    </div>
  </div>
</nav>

<script>
$("li > a").click(function(){
    $(this).attr("id","nav");
});
</script>